<div class="users-container">
  <div class="user-list">
    @for (user of users(); track user.id) {
    <div class="user-card">
      <h2>{{ user.name }}</h2>
      <p><strong>Email:</strong> {{ user.email }}</p>
      <p><strong>Website:</strong> {{ user.website }}</p>
      <button class="btn btn-details" (click)="goToDetails(user.id)">
        Details
      </button>
      <button class="btn btn-delete" (click)="deleteUser(user.id)">
        Delete
      </button>
    </div>
    } @empty {
    <p>No users found.</p>
    }
  </div>
</div>
